<%- include("partials/header") -%>
<div class="container content">
  <h1> <%= postTitle %> </h1>
  <img class="single-post-img" src=<%= postImage %> alt="">
  <p> <%- postBody %> </p>

</div>
<%- include("partials/footer") -%>
