<%- include("partials/header") -%>
<div class="container content">
  <h1> <%= postTitle %> </h1>
  <img class="single-post-img" src=<%= postImage %> alt="">
  <p> <%- postBody %> </p>

  <div class="bottomAmazon">
    <h2 class="products">Amazon Features</h2>
    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07H1VZGBX&asins=B07H1VZGBX&linkId=81811bc3a3e7f81f232c2cd26ae6b4d4&show_border=true&link_opens_in_new_window=true">
    </iframe>

    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07NC2YCB3&asins=B07NC2YCB3&linkId=7514a399b3ad47ad499f84e07559deea&show_border=true&link_opens_in_new_window=true">
    </iframe>

    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07H1VZGBX&asins=B07H1VZGBX&linkId=81811bc3a3e7f81f232c2cd26ae6b4d4&show_border=true&link_opens_in_new_window=true">
    </iframe>
  </div>

  <div class="amazonOffers">
    <h2 class="products">Amazon Features</h2>
    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07H1VZGBX&asins=B07H1VZGBX&linkId=81811bc3a3e7f81f232c2cd26ae6b4d4&show_border=true&link_opens_in_new_window=true">
    </iframe>

    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07NC2YCB3&asins=B07NC2YCB3&linkId=7514a399b3ad47ad499f84e07559deea&show_border=true&link_opens_in_new_window=true">
    </iframe>

    <iframe
      style="width:120px;height:240px;"
      marginwidth="0" marginheight="0"
      scrolling="no" frameborder="0"
      src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=humanformeart-21&language=en_IN&marketplace=amazon&region=IN&placement=B07H1VZGBX&asins=B07H1VZGBX&linkId=81811bc3a3e7f81f232c2cd26ae6b4d4&show_border=true&link_opens_in_new_window=true">
    </iframe>
  </div>

</div>
<%- include("partials/footer") -%>
